<section class="container">
  <nav class="top-nav navbar navbar-default">
    <div class="navbar-header">
      <p class='navbar-brand'>Joe Tracker</p>
    </div>
  </nav>

  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      {{#linkTo "index" tagName="li"}}
        <a {{bindAttr href="view.href"}}>Updates</a>
      {{/linkTo}}
      {{#linkTo "component-test" tagName="li"}}
        <a {{bindAttr href="view.href"}}>Map</a>
      {{/linkTo}}
      {{#linkTo "helper-test" tagName="li"}}
        <a {{bindAttr href="view.href"}}>Altitude</a>
      {{/linkTo}}
    </ul>
  </div>
  <div class="content col-md-9">
    {{outlet}}
  </div>
</section>
